# node modules
node_modules

# Ignore everything in these directories
LSP7Divisible/*
LSP7NonDivisible/*
LSP8NonDivisible/*
Unsupported/*
NoMetadata/*

# But keep the directories themselves by excluding .gitkeep from being ignored
!LSP7Divisible/.gitkeep
!LSP7NonDivisible/.gitkeep
!LSP8NonDivisible/.gitkeep
!Unsupported/.gitkeep
!NoMetadata/.gitkeep
# lock
package-lock.json

# env
.env